<h2>Post details: </h2>

<br />
<p>
    <%= @row['content'] %>
    <br />
    Added at - <%= @row['created_date'] %>
</p>

<form action="/details/<%= @row['id'] %>" method="POST">
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Comments</label>
        <textarea name="content_comment" class="form-control" id="exampleFormControlTextarea1" rows="3"
        placeholder="Type comment text here"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add Comment</button>
</form>